BASE_URL=https://example.com
WHITELISTED_ISSUERS=https://issuer.example
SOLID_STORAGE_BASE_URL=https://pod.example.com/
HANDLER_BASE_URL=https://example.com/handlers#
#WEBID=https://example.com/webid
#ISSUER=https://example.com
#SEND_TO_URL=https://example.com/outbox
#ACTOR_NAME=alice,bob
